{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin_boost.css' %}">
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
{% if original %}
&rsaquo; <a href="{% url opts|admin_urlname:'change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
{% endif %}
&rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div class="confirm-container">
    <div class="messagelist">
        <div class="warning">
            {{ confirm_message }}
        </div>
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="submit-row">
            <input type="submit" name="action" value="cancel" class="button cancel-link" formnovalidate>
            <input type="submit" name="action" value="confirm" class="button default">
        </div>
    </form>
</div>
{% endblock %}
